<div class="main_container col-6">
  <div class="col-12 d-flex flex-column p-4 fullheight justify-content-center align-items-center">
    <div class="title_el">
  <h1 >Kondona</h1>
    </div>
    <div class="col-12 form-group mb-2">
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-block col-12 p-2' %>
    </div>
    <div class="col-12 form-group mb-2">
      <%= link_to 'Register', new_user_registration_path, class: 'btn  btn-lg btn-block col-12 grisColor register_btn' %>
    </div>
  </div>
</div>
